.error {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-block: 100px;

  &__description {
    @media (max-width: 767px) {
      margin-inline: 50px;
    }
  }
}
