.footer {
  background-color: $black-color;
  height: 209px;
  text-align: center;

  &__logo {
    margin-top: 60px;
  }

  &__text {
    margin-top: 60px;
    @media (max-width: 767px) {
      margin-top: 20px;
      position: absolute;
      width: 134px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}
