.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
  margin-block: 50px;

  @media (max-width: 767px) {
    padding-inline: 20px;
    margin-block: 20px;
  }

  img {
    @media (max-width: 767px) {
      height: 47px;
    }
  }

  &__menu {
    display: flex;
    gap: 57px;

    @media (max-width: 767px) {
      gap: 26px;
    }

    @media (max-width: 374px) {
      gap: 16px;
    }
  }

  &__menu-item {
    list-style-type: none;
  }

  &__menu-item-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: none;
      text-decoration: underline;
    }
  }
}
