.cards-container {
  background-color: $grey-color;
  height: 100%;
  border-radius: 25px;
  margin-inline: 100px;
  margin-bottom: 50px;
  padding-block: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;

  @media (max-width: 767px) {
    background-color: $white-color;
    padding-block: 0;
    margin-bottom: 0;
    margin-inline: 20px;
    row-gap: 30px;
  }
}
