.cards-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 340px);
  gap: 30px;
  padding-block: 50px;
  background-color: $grey-color;
  height: 100%;
  border-radius: 25px;
  margin-inline: 100px;
}
