.housing-description {
  padding-inline: 100px;
  @media (max-width: 767px) {
    padding-inline: 20px;
  }

  &__section-1 {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    color: $salmon-color;
  }

  &__location {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    color: $salmon-color;
  }

  &__section-1-right {
    display: flex;
    align-items: center;
  }

  &__host-name {
    width: 93px;
    font-weight: 500;
    font-size: 18px;
    color: $salmon-color;
  }

  &__host-photo {
    object-fit: cover;
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }

  &__section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__badges {
    display: flex;
    gap: 10px;
  }

  &__badges {
    span {
      background-color: $salmon-color;
      border-radius: 50px;
      padding: 2px 20px;
      color: $white-color;
    }
  }

  &__section-3 {
    display: flex;
    gap: 76px;
    margin-top: 10px;
  }

  &__section-3 {
    div {
      width: 100%;

      .collapse {
        margin-inline: 0;
      }

      .collapse__content {
        margin-inline: 0;
        list-style-type: none;

        ul {
          list-style-type: none;

          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
