.housing-description {
  margin-inline: 100px;

  &__section-1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &-left {
      div {
        margin-top: 10px;
      }
    }

    &-right {
      div {
        margin-top: 10px;
        width: 180px;
      }
    }
  }

  &__location {
    margin-top: 10px;
  }

  &__host {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__host-name {
    width: 93px;
  }

  &__host-photo {
    object-fit: cover;
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }

  &__badges {
    display: flex;
    gap: 10px;
  }

  &__badges {
    span {
      background-color: $salmon-color;
      border-radius: 50px;
      padding: 2px 20px;
    }
  }

  &__section-2 {
    display: flex;
    gap: 76px;
    margin-top: 10px;

    div {
      width: 100%;

      .collapse {
        margin-inline: 0;
      }

      .collapse__content {
        margin-inline: 0;
        list-style-type: none;

        ul {
          list-style-type: none;

          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
