* {
  font-family: "Montserrat", sans-serif;
}

.header {
  &__menu-item-link {
    color: $salmon-color;
    font-weight: 500;
    font-size: 24px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.banner {
  &__text {
    color: $white-color;
    font-weight: 500;
    font-size: 48px;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
}

.error {
  &__name {
    color: $salmon-color;
    font-weight: 700;
    font-size: 288px;

    @media (max-width: 767px) {
      font-size: 96px;
    }
  }

  &__description {
    color: $salmon-color;
    font-weight: 500;
    font-size: 36px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__homepage-link {
    color: $salmon-color;
    font-weight: 500;
    font-size: 18px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.footer {
  &__text {
    font-weight: 500;
    font-size: 24px;
    color: $white-color;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.card {
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: $white-color;
  }
}

.collapse {
  &__title {
    font-weight: 500;
    font-size: 24px;
    color: $white-color;

    @media (max-width: 767px) {
      font-size: 13px;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 18px;
    color: $salmon-color;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.slideshow {
  &__photo-index {
    color: $white-color;
    font-weight: 500;
    font-size: 18px;
  }
}

.housing-description {
  &__title {
    font-weight: 500;
    font-size: 36px;
    color: $salmon-color;
  }

  &__location {
    font-weight: 500;
    font-size: 18px;
    color: $salmon-color;
  }

  &__host-name {
    font-weight: 500;
    font-size: 18px;
    color: $salmon-color;
  }

  &__badges {
    span {
      color: $white-color;
    }
  }
}
